# Google App Store EDA

# Assignment: 
1. Download the data
2. Extract data from zip file
3. read the data into python pandas
4. check each column 
5. Define each column in MD style

In [2]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# data import
df = pd.read_csv('./data/googleplaystore.csv')

In [4]:
# run automatic eda using ydata-profiling library

#comment out these codes if you want to do auto EDA
# import ydata_profiling as yd
# profile = yd.ProfileReport(df)
# profile.to_file(output_file='./outputs/04_ydata_googleplaystore_kaggle.html')

Summarize dataset: 100%|██████████| 27/27 [00:03<00:00,  7.51it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:07<00:00,  7.66s/it]
Render HTML: 100%|██████████| 1/1 [00:00<00:00,  1.02it/s]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 77.75it/s]

In [4]:
# check the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10840 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  int64
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10841 non-null  object
 9   Genres          10840 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10839 non-null  object
dtypes: float64(1), int64(1), object(11)
memory usage: 1.1+ MB

In [7]:
# lets have a look on the data
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [11]:
# take samples from big dataset
df.sample(2)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
6004,Business Dictionary,BUSINESS,4.2,5988,Varies with device,"500,000+",Free,0,Everyone,Business,"May 16, 2016",Varies with device,Varies with device
5753,AW,FAMILY,NaN,0,Varies with device,5+,Free,0,Everyone 10+,Strategy,"August 28, 2015",Varies with device,Varies with device

In [10]:
df.describe()

            Rating       Reviews
count  9367.000000  1.084100e+04
mean      4.191513  4.441119e+05
std       0.515735  2.927629e+06
min       1.000000  0.000000e+00
25%       4.000000  3.800000e+01
50%       4.300000  2.094000e+03
75%       4.500000  5.476800e+04
max       5.000000  7.815831e+07

# Assignment: write down all the numeric variables and make them numeric?
1. size
2. install
3. price

In [13]:
# to do that let's have a look on unique values
df['Size'].value_counts()

Size
Varies with device    1695
11M                    198
12M                    196
14M                    194
13M                    191
                      ...
430k                     1
429k                     1
200k                     1
460k                     1
619k                     1
Name: count, Length: 461, dtype: int64

# Check that how many MBs are there in one KB? and how to calculate?
1. Convert KBs into M
2. Then remove M from all numbers
3. Handle `varies with device`.

In [14]:
df['Size'].isnull().sum()

0

## Install

In [15]:
df['Installs'].value_counts()

Installs
1,000,000+        1579
10,000,000+       1252
100,000+          1169
10,000+           1054
1,000+             908
5,000,000+         752
100+               719
500,000+           539
50,000+            479
5,000+             477
100,000,000+       409
10+                386
500+               330
50,000,000+        289
50+                205
5+                  82
500,000,000+        72
1+                  67
1,000,000,000+      58
0+                  14
0                    1
Name: count, dtype: int64

# do it as numeric column or group that into different group following bining method

# How to handle Price?

In [16]:
df['Price'].value_counts()

Price
0         10041
$0.99       148
$2.99       129
$1.99        73
$4.99        72
          ...
$19.90        1
$1.75         1
$14.00        1
$4.85         1
$1.04         1
Name: count, Length: 92, dtype: int64

In [17]:
df['Price'].isnull().sum()

0

## Remove $ sign from all columns using pandas

In [19]:
df['Type'].value_counts()

Type
Free    10040
Paid      800
Name: count, dtype: int64