In [4]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://en.wikipedia.org/wiki/World_population"

response = requests.get(url)

soup = BeautifulSoup(response.content, "html.parser")

print(soup.title)
print(soup.title.text)

# print(soup.prettify()) # print the whole html code

# find all the tables

tables = soup.find_all("table")

dataframe = [] # empty list

for i, table in enumerate(tables):
    rows = table.find_all("tr")[1:] # skip the first row
    data = [] # empty list
    for row in rows:
        cols = row.find_all("td")
        cols = [col.text.strip() for col in cols]
        data.append(cols)
    df = pd.DataFrame(data)
    dataframe.append(df)
dataframe[1].head()
# dataframe[1].to_csv("world_population.csv", index=False, header=True)

<title>World population - Wikipedia</title>
World population - Wikipedia

,0,1,2,3
0,Sub-Saharan Africa,"1,152 (14.51%)","1,401 (16.46%)","2,094 (21.62%)"
1,Northern Africa and Western Asia,549 (6.91%),617 (7.25%),771 (7.96%)
2,Central and Southern Asia,"2,075 (26.13%)","2,248 (26.41%)","2,575 (26.58%)"
3,Eastern and Southeastern Asia,"2,342 (29.49%)","2,372 (27.87%)","2,317 (23.92%)"
4,Europe and Northern America,"1,120 (14.10%)","1,129 (13.26%)","1,125 (11.61%)"

In [25]:
import requests
from bs4 import BeautifulSoup


req = requests.get("https://www.geeksforgeeks.org/")

soup = BeautifulSoup(req.content, 'html.parser')

# print(soup.title) #title tag
# print(soup.p) #p tag
# print(soup.text) #text

# print(soup.prettify())

soup.title.get_text()

'GeeksforGeeks | A computer science portal for geeks'

In [35]:
import requests
from bs4 import BeautifulSoup

# Send a GET request to the Wikipedia page
req = requests.get("https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population")

# Parse the HTML content using BeautifulSoup
soup = BeautifulSoup(req.content, 'html.parser')

# Find the table containing the population data
table = soup.find('table', {'class': 'wikitable sortable'})


# Find all the rows in the table
rows = table.find_all('tr')

# Loop through each row and extract the data
for row in rows:
    # Find all the cells in the row
    cells = row.find_all('td')
    
    # Extract the data from the cells
    if len(cells) > 1:
        rank = cells[0].text.strip()
        country = cells[1].text.strip()
        population = cells[2].text.strip()
        
        # Print the data
        print(f'{rank}\t{country}\t{population}')

–	World	8,036,934,000
China	1,411,750,000	17.6%
India	1,392,329,000	17.3%
United States	334,912,000	4.17%
Indonesia	277,749,853	3.46%
Pakistan	220,425,254	2.74%
Nigeria	218,541,000	2.72%
Brazil	216,293,580	2.69%
Bangladesh	169,828,911	2.11%
Russia	146,424,729	1.82%
Mexico	128,665,641	1.60%
Japan	124,500,000	1.55%
Philippines	110,587,187	1.38%
Ethiopia	105,163,988	1.31%
Egypt	104,955,566	1.31%
Vietnam	99,460,000	1.24%
DR Congo	99,010,000	1.23%
Iran	86,533,970	1.08%
Turkey	85,279,553	1.06%
Germany	84,270,625	1.05%
France	68,042,591	0.847%
United Kingdom	67,026,292	0.834%
Thailand	65,990,876	0.821%
Tanzania	61,741,120	0.768%
South Africa	60,604,992	0.754%
Italy	58,803,163	0.732%
Myanmar	55,770,232	0.694%
Colombia	52,215,503	0.650%
South Korea	51,439,038	0.640%
Spain	48,196,693	0.600%
Kenya	47,564,296	0.592%
Argentina	46,044,703	0.573%
Algeria	45,400,000	0.565%
Sudan	45,486,630	0.566%
Uganda	42,885,900	0.534%
Iraq	41,190,700	0.513%
Ukraine	41,130,432	0.512%
Canada	40,012,356	0.498%
Poland	37,726,000	0.469%
Morocco	36,988,791	0.460%
Uzbekistan	36,286,322	0.451%
Saudi Arabia	34,110,821	0.424%
Yemen	33,697,000	0.419%
Peru	33,396,698	0.416%
Angola	33,086,278	0.412%
Malaysia	33,043,900	0.411%
Afghanistan	32,890,171	0.409%
Mozambique	32,419,747	0.403%
Ghana	30,832,019	0.384%
Ivory Coast	29,389,150	0.366%
Nepal	29,164,578	0.363%
Venezuela	28,302,000	0.352%
Madagascar	26,923,353	0.335%
Australia	26,537,271	0.330%
North Korea	25,660,000	0.319%
Cameroon	24,348,251	0.303%
Niger	24,112,753	0.300%
Taiwan	23,347,374	0.291%
Mali	22,594,000	0.281%
Burkina Faso	22,185,654	0.276%
Sri Lanka	22,181,000	0.276%
Syria	22,125,000	0.275%
Malawi	21,507,723	0.268%
Chile	19,960,889	0.248%
Kazakhstan	19,881,964	0.247%
Zambia	19,610,769	0.244%
Romania	19,053,815	0.237%
Ecuador	18,316,187	0.228%
Netherlands	17,880,490	0.222%
Somalia	17,598,000	0.219%
Senegal	17,223,497	0.214%
Guatemala	17,109,746	0.213%
Chad	16,818,391	0.209%
Cambodia	15,552,211	0.194%
Zimbabwe	15,178,979	0.189%
Guinea	13,261,638	0.165%
South Sudan	13,249,924	0.165%
Rwanda	13,246,394	0.165%
Burundi	12,837,740	0.160%
Benin	12,606,998	0.157%
Bolivia	12,006,031	0.149%
Tunisia	11,803,588	0.147%
Belgium	11,755,313	0.146%
Haiti	11,743,017	0.146%
Jordan	11,418,082	0.142%
Cuba	11,089,511	0.138%
Czech Republic	10,827,529	0.135%
Sweden	10,538,026	0.131%
Dominican Republic	10,535,535	0.131%
Greece	10,482,487	0.130%
Portugal	10,467,366	0.130%
Azerbaijan	10,135,373	0.126%
Israel	9,738,080	0.121%
Hungary	9,678,000	0.120%
Honduras	9,546,178	0.119%
Tajikistan	9,506,000	0.118%
United Arab Emirates	9,282,410	0.115%
Belarus	9,200,617	0.114%
Papua New Guinea	9,122,994	0.114%
Austria	9,120,091	0.113%
Switzerland	8,865,270	0.110%
Sierra Leone	8,494,260	0.106%
Togo	8,095,498	0.101%
Paraguay	7,453,695	0.0927%
Laos	7,337,783	0.0913%
Hong Kong (China)	7,333,200	0.0912%
Kyrgyzstan	7,100,000	0.0883%
El Salvador	6,884,888	0.0857%
Libya	6,812,000	0.0848%
Serbia	6,647,003	0.0827%
Nicaragua	6,595,674	0.0821%
Bulgaria	6,447,710	0.0802%
Turkmenistan	6,431,000	0.0800%
Congo	5,970,000	0.0743%
Denmark	5,941,388	0.0739%
Central African Republic	5,633,412	0.0701%
Finland	5,541,016	0.0689%
Norway	5,504,329	0.0685%
Lebanon	5,490,000	0.0683%
Palestine	5,483,450	0.0682%
Singapore	5,453,600	0.0679%
Slovakia	5,428,792	0.0675%
New Zealand	5,218,433	0.0649%
Costa Rica	5,213,362	0.0649%
Ireland	5,149,139	0.0641%
Oman	5,035,658	0.0627%
Kuwait	4,670,713	0.0581%
Liberia	4,661,010	0.0580%
Mauritania	4,372,037	0.0544%
Panama	4,278,500	0.0532%
Croatia	3,871,833	0.0482%
Georgia	3,736,400	0.0465%
Eritrea	3,684,000	0.0458%
Uruguay	3,554,915	0.0442%
Mongolia	3,457,548	0.0430%
Bosnia and Herzegovina	3,277,082	0.0408%
Puerto Rico (United States)	3,221,789	0.0401%
Qatar	3,005,069	0.0374%
Armenia	2,981,200	0.0371%
Lithuania	2,862,274	0.0356%
Jamaica	2,825,544	0.0352%
Albania	2,793,592	0.0348%
Moldova	2,604,000	0.0324%
Namibia	2,596,037	0.0323%
Gambia	2,417,471	0.0301%
Botswana	2,410,338	0.0300%
Lesotho	2,306,000	0.0287%
Gabon	2,233,272	0.0278%
Slovenia	2,116,972	0.0263%
Latvia	1,885,400	0.0235%
North Macedonia	1,832,696	0.0228%
Kosovo	1,798,188	0.0224%
Guinea-Bissau	1,667,864	0.0208%
Equatorial Guinea	1,558,160	0.0194%
Bahrain	1,501,635	0.0187%
Estonia	1,365,884	0.0170%
Trinidad and Tobago	1,365,805	0.0170%
East Timor	1,336,222	0.0166%
Mauritius	1,261,196	0.0157%
Eswatini	1,202,000	0.0150%
Djibouti	1,001,454	0.0125%
Cyprus	918,100	0.0114%
Fiji	893,468	0.0111%
Bhutan	763,200	0.00950%
Comoros	758,316	0.00944%
Guyana	743,699	0.00925%
Solomon Islands	728,041	0.00906%
Macau (China)	673,600	0.00838%
Luxembourg	660,809	0.00822%
Montenegro	617,683	0.00769%
Suriname	616,500	0.00767%
Western Sahara	576,000	0.00717%
Cape Verde	569,509	0.00709%
Malta	519,562	0.00646%
Belize	441,471	0.00549%
Brunei	440,715	0.00548%
Maldives	397,372	0.00494%
Bahamas	397,360	0.00494%
Iceland	390,830	0.00486%
Northern Cyprus	382,836	0.00476%
Transnistria	360,938	0.00449%
Vanuatu	301,295	0.00375%
French Polynesia (France)	279,890	0.00348%
New Caledonia (France)	273,674	0.00341%
Barbados	267,800	0.00333%
Abkhazia	245,424	0.00305%
São Tomé and Príncipe	214,610	0.00267%
Samoa	205,557	0.00256%
Saint Lucia	178,696	0.00222%
Guam (United States)	153,836	0.00191%
Curaçao (Netherlands)	148,925	0.00185%
Artsakh	148,900	0.00185%
Grenada	125,000	0.00156%
Kiribati	120,740	0.00150%
Saint Vincent and the Grenadines	110,696	0.00138%
Jersey (British Crown Dependency)	107,800	0.00134%
Aruba (Netherlands)	106,739	0.00133%
Micronesia	105,754	0.00132%
Antigua and Barbuda	100,772	0.00125%
Seychelles	100,447	0.00125%
Tonga	100,179	0.00125%
U.S. Virgin Islands (United States)	87,146	0.00108%
Isle of Man (British Crown Dependency)	84,069	0.00105%
Andorra	82,623	0.00103%
Dominica	73,000	0.000908%
Cayman Islands (United Kingdom)	71,105	0.000885%
Bermuda (United Kingdom)	64,055	0.000797%
Guernsey (British Crown Dependency)	63,950	0.000796%
Greenland (Denmark)	56,609	0.000704%
South Ossetia	56,520	0.000703%
Faroe Islands (Denmark)	54,431	0.000677%
American Samoa (United States)	49,710	0.000619%
Saint Kitts and Nevis	48,000	0.000597%
Northern Mariana Islands (United States)	47,329	0.000589%
Turks and Caicos Islands (United Kingdom)	46,131	0.000574%
Sint Maarten (Netherlands)	42,938	0.000534%
Liechtenstein	39,680	0.000494%
Marshall Islands	39,262	0.000489%
Monaco	39,150	0.000487%
San Marino	33,847	0.000421%
Gibraltar (United Kingdom)	33,000	0.000411%
Saint Martin (France)	32,358	0.000403%
British Virgin Islands (United Kingdom)	31,000	0.000386%
Åland (Finland)	30,423	0.000379%
Palau	16,733	0.000208%
Anguilla (United Kingdom)	15,701	0.000195%
Cook Islands	15,040	0.000187%
Nauru	11,832	0.000147%
Wallis and Futuna (France)	11,369	0.000141%
Tuvalu	10,679	0.000133%
Saint Barthélemy (France)	10,585	0.000132%
Saint Pierre and Miquelon (France)	6,092	0%
Saint Helena, Ascension and Tristan da Cunha (United Kingdom)	5,651	0%
Montserrat (United Kingdom)	4,400	0%
Falkland Islands (United Kingdom)	3,800	0%
Norfolk Island (Australia)	2,188	0%
Christmas Island (Australia)	1,692	0%
Tokelau (New Zealand)	1,647	0%
Niue	1,549	0%
Vatican City	825	0%
Cocos (Keeling) Islands (Australia)	593	0%
Pitcairn Islands (United Kingdom)	47	0%

In [45]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Send a GET request to the Wikipedia page
req = requests.get("https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population")

# Parse the HTML content using BeautifulSoup
soup = BeautifulSoup(req.content, 'html.parser')

# Find the table containing the population data
table = soup.find('table', {'class': 'wikitable sortable'})

# Find all the rows in the table
rows = table.find_all('tr')

# Create an empty DataFrame to store the data
data = pd.DataFrame(columns=['Rank', 'Country', 'Population'])

# Loop through each row and extract the data
for row in rows:
    # Find all the cells in the row
    cells = row.find_all('td')
    
    # Extract the data from the cells
    if len(cells) > 1:
        rank = cells[0].text.strip()
        country = cells[1].text.strip()
        population = cells[2].text.strip()
        
        # Append the data to the DataFrame
        data = pd.concat([data, pd.DataFrame({'Country': [rank], 'Population': [population]})], ignore_index=True)

# Print the DataFrame
data

    Rank                              Country     Population
0    NaN                                    –  8,036,934,000
1    NaN                                China          17.6%
2    NaN                                India          17.3%
3    NaN                        United States          4.17%
4    NaN                            Indonesia          3.46%
..   ...                                  ...            ...
237  NaN                Tokelau (New Zealand)             0%
238  NaN                                 Niue             0%
239  NaN                         Vatican City             0%
240  NaN  Cocos (Keeling) Islands (Australia)             0%
241  NaN    Pitcairn Islands (United Kingdom)             0%

[242 rows x 3 columns]

In [53]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Send a GET request to the Wikipedia page
req = requests.get("https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population")

# Parse the HTML content using BeautifulSoup
soup = BeautifulSoup(req.content, 'html.parser')

# Find the table containing the population data
table = soup.find('table', {'class': 'wikitable sortable'})

# Find all the rows in the table
rows = table.find_all('tr')

# Create an empty DataFrame to store the data
data = pd.DataFrame(columns=['Rank', 'Country', 'Population'])

# Loop through each row and extract the data
for row in rows:
    # Find all the cells in the row
    cells = row.find_all('td')
    
    # Extract the data from the cells
    if len(cells) > 1:
        rank = cells[0].text.strip()
        country_cell = cells[1].find('a')
        if country_cell is not None:
            country = country_cell.text.strip()
        else:
            country = cells[1].text.strip()
        population = cells[2].text.strip()
        
        # Append the data to the DataFrame
        data = pd.concat([data, pd.DataFrame({'Rank': [rank], 'Country': [country], 'Population': [population]})], ignore_index=True)

# Print the DataFrame
data

                                    Rank        Country     Population
0                                      –          World  8,036,934,000
1                                  China  1,411,750,000          17.6%
2                                  India  1,392,329,000          17.3%
3                          United States    334,912,000          4.17%
4                              Indonesia    277,749,853          3.46%
..                                   ...            ...            ...
237                Tokelau (New Zealand)          1,647             0%
238                                 Niue          1,549             0%
239                         Vatican City            825             0%
240  Cocos (Keeling) Islands (Australia)            593             0%
241    Pitcairn Islands (United Kingdom)             47             0%

[242 rows x 3 columns]

In [54]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = 'https://en.wikipedia.org/wiki/World_population'

response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

# Find all the tables on the webpage
tables = soup.find_all('table')

# For each table, create a DataFrame and print it
for i, table in enumerate(tables):
    # The [1:] is to skip the header row
    rows = table.find_all('tr')[1:]
    data = []
    for row in rows:
        cols = row.find_all('td')
        cols = [col.text.strip() for col in cols]
        data.append(cols)
    df = pd.DataFrame(data)
    print(f"Table {i}:")
    print(df)
    print("\n\n")

Table 0:
          0     1     2     3     4     5     6     7     8     9
0      1804  1930  1960  1974  1987  1999  2011  2022  2037  2057
1  200,000+   126    30    14    13    12    12    11    15    20



Table 1:
                                  0               1               2
0                Sub-Saharan Africa  1,152 (14.51%)  1,401 (16.46%)  \
1  Northern Africa and Western Asia     549 (6.91%)     617 (7.25%)
2         Central and Southern Asia  2,075 (26.13%)  2,248 (26.41%)
3     Eastern and Southeastern Asia  2,342 (29.49%)  2,372 (27.87%)
4       Europe and Northern America  1,120 (14.10%)  1,129 (13.26%)
5   Latin America and the Caribbean     658 (8.29%)     695 (8.17%)
6             Australia/New Zealand      31 (0.39%)      34 (0.40%)
7                     Other Oceania      14 (0.18%)      15 (0.18%)
8                             World           7,942           8,512

                3
0  2,094 (21.62%)
1     771 (7.96%)
2  2,575 (26.58%)
3  2,317 (23.92%)
4  1,125 (11.61%)
5     749 (7.73%)
6      38 (0.39%)
7      20 (0.21%)
8           9,687



Table 2:
Empty DataFrame
Columns: []
Index: []



Table 3:
                          0      1          2
0                      Asia  104.1      4,641  \
1                    Africa   44.4      1,340
2                    Europe   73.4        747
3             Latin America   24.1        653
4  Northern America[note 1]   14.9        368
5                   Oceania      5         42
6                Antarctica     ~0  0.004[89]

                                                   3
0                             1,418,459,382 –  India  \
1                           0,211,401,000 –  Nigeria
2  0,146,171,000 –  Russia, approx. 110 million i...
3                            0,214,103,000 –  Brazil
4                     0,332,909,000 –  United States
5                         0,025,917,000 –  Australia
6                                        N/A[note 2]

                                                   4
0  13,515,000 –  Tokyo Metropolis(37,400,000 –  G...
1   09,500,000 –  Cairo(20,076,000 –  Greater Cairo)
2  13,200,000 –  Moscow(20,004,000 –  Moscow metr...
3  12,252,000 –  São Paulo City(21,650,000 –  São...
4  08,804,000 –  New York City(23,582,649 –  New ...
5                               05,367,000 –  Sydney
6                      00,001,258 –  McMurdo Station



Table 4:
               0              1      2            3
0          India  1,425,775,850  17.7%  14 Apr 2023  \
1          China  1,412,600,000  17.6%  31 Dec 2021
2  United States    334,912,826  4.17%  20 Jun 2023
3      Indonesia    275,773,800  3.43%   1 Jul 2022
4       Pakistan    229,488,994  2.86%   1 Jul 2022
5        Nigeria    216,746,934  2.70%   1 Jul 2022
6         Brazil    216,293,580  2.69%  20 Jun 2023
7     Bangladesh    168,220,000  2.09%   1 Jul 2020
8         Russia    147,190,000  1.83%   1 Oct 2021
9         Mexico    128,271,248  1.60%  31 Mar 2022

                                     4
0                    UN projection[92]
1         National annual estimate[93]
2        National population clock[94]
3         National annual estimate[95]
4                    UN projection[96]
5                    UN projection[96]
6        National population clock[97]
7       Annual Population Estimate[98]
8  2021 preliminary census results[99]
9



Table 5:
                                                    0
0                                                      \
1                                                   1
2                                                   2
3                                                   3
4                                                   4
5                                                   5
6                                                   6
7                                                   7
8                                                   8
9                                                   9
10                                                 10
11
12  Notes:\n\n\n^ 2030 = Medium variant.\n\n^ Chin...

                                                    1      2      3      4
0   Graphs are temporarily unavailable due to tech...   None   None   None
1                                            China[B]  1,270  1,376  1,416
2                                               India  1,053  1,311  1,528
3                                       United States    283    322    356
4                                           Indonesia    212    258    295
5                                            Pakistan    136    208    245
6                                              Brazil    176    206    228
7                                             Nigeria    123    182    263
8                                          Bangladesh    131    161    186
9                                              Russia    146    146    149
10                                             Mexico    103    127    148
11                                        World total  6,127  7,349  8,501
12                                               None   None   None   None



Table 6:
Empty DataFrame
Columns: []
Index: []



Table 7:
    0               1              2          3      4
0   1       Singapore      5,921,231        719  8,235
1   2      Bangladesh    165,650,475    148,460  1,116
2   3  Palestine[103]      5,223,000      6,025    867
3   4          Taiwan     23,580,712     35,980    655
4   5     South Korea     51,844,834     99,720    520
5   6         Lebanon      5,296,814     10,400    509
6   7          Rwanda     13,173,730     26,338    500
7   8         Burundi     12,696,478     27,830    456
8   9           India  1,389,637,446  3,287,263    423
9  10     Netherlands     17,400,824     41,543    419



Table 8:
    0               1              2          3      4                5
0   1           India  1,389,637,446  3,287,263    423          Growing
1   2        Pakistan    242,923,845    796,095    305  Rapidly growing
2   3      Bangladesh    165,650,475    148,460  1,116          Growing
3   4           Japan    124,214,766    377,915    329   Declining[104]
4   5     Philippines    114,597,229    300,000    382          Growing
5   6         Vietnam    103,808,319    331,210    313          Growing
6   7  United Kingdom     67,791,400    243,610    278          Growing
7   8     South Korea     51,844,834     99,720    520           Steady
8   9          Taiwan     23,580,712     35,980    655           Steady
9  10       Sri Lanka     23,187,516     65,610    353          Growing



Table 9:
Empty DataFrame
Columns: []
Index: []



Table 10:
Empty DataFrame
Columns: []
Index: []



Table 11:
                0      1           2     3              4     5
0            None   None        None  None           None  None
1   2,584,034,261  1.88%  47,603,112    17    775,067,697   30%
2   2,630,861,562  1.81%  46,827,301    18    799,282,533   30%
3   2,677,608,960  1.78%  46,747,398    18    824,289,989   31%
4   2,724,846,741  1.76%  47,237,781    18    850,179,106   31%
..            ...    ...         ...   ...            ...   ...
66  7,464,022,000  1.14%  84,225,000    50  4,060,653,000   54%
67  7,547,859,000  1.12%  83,837,000    51  4,140,189,000   55%
68  7,631,091,000  1.10%  83,232,000    51  4,219,817,000   55%
69  7,713,468,000  1.08%  82,377,000    52  4,299,439,000   56%
70  7,795,000,000  1.05%  81,331,000    52  4,378,900,000   56%

[71 rows x 6 columns]



Table 12:
    0    1    2    3    4      5      6      7      8      9      10     11
0  585  660  710  791  978  1,262  1,650  2,521  6,008  6,707  6,896  7,052  \
1   86  114  106  106  107    111    133    221    783    973  1,022  1,052
2  282  350  411  502  635    809    947  1,402  3,700  4,054  4,164  4,250
3  168  170  178  190  203    276    408    547    675    732    738    740
4   40   20   10   16   24     38     74    167    508    577    590    603
5    6    3    2    2    7     26     82    172    312    337    345    351
6    3    3    3    2    2      2      6     13     30     34     37     38

      12     13
0  9,725  9,746
1  2,478  2,308
2  5,267  5,561
3    734    517
4    784    912
5    433    398
6     57     51



Table 13:
     0     1     2     3     4     5     6     7     8     9     10    11
0  14.7  17.3  14.9  13.4  10.9   8.8   8.1   8.8  13.0  14.5  14.8  15.2  \
1  48.2  53.0  57.9  63.5  64.9  64.1  57.4  55.6  61.6  60.4  60.4  60.3
2  28.7  25.8  25.1  20.6  20.8  21.9  24.7  21.7  11.2  10.9  10.7  10.5
3   6.8   3.0   1.4   2.0   2.5   3.0   4.5   6.6   8.5   8.6   8.6   8.6
4   1.0   0.5   0.3   0.3   0.7   2.1   5.0   6.8   5.2   5.0   5.0   5.0
5   0.5   0.5   0.4   0.3   0.2   0.2   0.4   0.5   0.5   0.5   0.5   0.5

     12    13
0  25.5  23.7
1  54.2  57.1
2   7.6   5.3
3   8.1   9.4
4   4.5   4.1
5   0.6   0.5



Table 14:
          0      1      2    3    4    5     6                  7
0   < 0.015                       0    0                    [121]
1         4                                                 [122]
2         5
3         5
4         5
5         7
6        14
7        27
8        50      7     33    9                  [citation needed]
9       100     14     66   16
10      200     23    141   28
11      400     70    269   50    8    1     2
12      458     86    243   84   39    3     3
13      580    114    339  111   10    3     3
14      682    106    436  125   10    2     3
15      791    106    502  163   16    2     2
16    1,000    107    656  203   24    7     3
17    1,262    111    809  276   38   26     2
18    1,650    133    947  408   74   82     6
19    2,525    229  1,394  549  169  172  12.7              [123]
20    2,758    254  1,534  577  193  187  14.2
21    3,018    285  1,687  606  221  204  15.8
22    3,322    322  1,875  635  254  219  17.5
23    3,682    366  2,120  657  288  231  19.7
24    4,061    416  2,378  677  326  242  21.5
25    4,440    478  2,626  694  365  254  23.0
26    4,853    550  2,897  708  406  267  24.9
27    5,310    632  3,202  721  447  281  27.0
28    5,735    720  3,475  728  487  296  29.1
29    6,127    814  3,714  726  527  314  31.1
30    6,520    920  3,945  729  564  329  33.4
31    6,930  1,044  4,170  735  600  344  36.4
32    7,349  1,186  4,393  738  634  358  39.3



Table 15:
Empty DataFrame
Columns: []
Index: []



Table 16:
       0    1      2    3
0  6,542    –  6,473    –
1  6,957  415  6,866  393
2  7,380  423  7,256  390
3  7,795  415  7,643  380
4  8,184  390  8,007  363
5  8,549  364  8,341  334
6  8,888  339  8,646  306
7  9,199  311  8,926  280
8  9,482  283  9,180  254
9  9,735  253  9,408  228



Table 17:
         0              1              2            3           4           5
0    6,144  3,741 (60.9%)    811 (13.2%)  726 (11.8%)  522 (8.5%)  312 (5.1%)  \
1    6,542  3,978 (60.8%)    916 (14.0%)  729 (11.2%)  558 (8.5%)  327 (5.0%)
2    6,957  4,210 (60.5%)  1,039 (14.9%)  736 (10.6%)  591 (8.5%)  343 (4.9%)
3    7,380  4,434 (60.1%)  1,182 (16.0%)  743 (10.1%)  624 (8.5%)  357 (4.8%)
4    7,795  4,641 (59.5%)  1,341 (17.2%)   748 (9.6%)  654 (8.4%)  369 (4.7%)
5    8,184  4,823 (58.9%)  1,509 (18.4%)   746 (9.1%)  682 (8.3%)  380 (4.6%)
6    8,549  4,974 (58.2%)  1,688 (19.8%)   741 (8.7%)  706 (8.3%)  391 (4.6%)
7    8,888  5,096 (57.3%)  1,878 (21.1%)   735 (8.3%)  726 (8.2%)  401 (4.5%)
8    9,199  5,189 (56.4%)  2,077 (22.6%)   728 (7.9%)  742 (8.1%)  410 (4.5%)
9    9,482  5,253 (55.4%)  2,282 (24.1%)   720 (7.6%)  754 (8.0%)  418 (4.4%)
10   9,735  5,290 (54.3%)  2,489 (25.6%)   711 (7.3%)  762 (7.8%)  425 (4.4%)
11   9,958  5,302 (53.2%)  2,698 (27.1%)   700 (7.0%)  767 (7.7%)  432 (4.3%)
12  10,152  5,289 (52.1%)  2,905 (28.6%)   689 (6.8%)  768 (7.6%)  439 (4.3%)
13  10,318  5,256 (51.0%)  3,109 (30.1%)   677 (6.6%)  765 (7.4%)  447 (4.3%)
14  10,459  5,207 (49.8%)  3,308 (31.6%)   667 (6.4%)  759 (7.3%)  454 (4.3%)
15  10,577  5,143 (48.6%)  3,499 (33.1%)   657 (6.2%)  750 (7.1%)  461 (4.4%)
16  10,674  5,068 (47.5%)  3,681 (34.5%)   650 (6.1%)  739 (6.9%)  468 (4.4%)
17  10,750  4,987 (46.4%)  3,851 (35.8%)   643 (6.0%)  726 (6.8%)  474 (4.4%)
18  10,810  4,901 (45.3%)  4,008 (37.1%)   638 (5.9%)  711 (6.6%)  479 (4.4%)
19  10,852  4,812 (44.3%)  4,152 (38.3%)   634 (5.8%)  696 (6.4%)  485 (4.5%)
20  10,875  4,719 (43.4%)  4,280 (39.4%)   630 (5.8%)  680 (6.3%)  491 (4.5%)

            6
0   31 (0.5%)
1   34 (0.5%)
2   37 (0.5%)
3   40 (0.5%)
4   43 (0.6%)
5   45 (0.6%)
6   48 (0.6%)
7   50 (0.6%)
8   53 (0.6%)
9   55 (0.6%)
10  57 (0.6%)
11  60 (0.6%)
12  62 (0.6%)
13  64 (0.6%)
14  66 (0.6%)
15  67 (0.6%)
16  69 (0.7%)
17  71 (0.7%)
18  72 (0.7%)
19  74 (0.7%)
20  75 (0.7%)



Table 18:
      0     1     2     3     4    5
0  1500  1804  1927  1974  2022  n/a
1     —   304   123    47    48    —



Table 19:
      0     1     2     3     4             5
0  1171  1715  1881  1960  1999  c. 2100[146]
1     —   544   166    79    39       c. 100+



Table 20:
                                                   0
0  Demographics of the world\nDemographic transit...
1  Population biology\nPopulation decline\nPopula...
2  Earth's energy budget\nI = P × A  × T\nKaya id...
3  Biocapacity\nHuman overpopulation\nMalthusian ...
4  Population and Environment\nPopulation and Dev...
5  Population and housing censuses by country\nLa...
6  7 Billion Actions\nChurch of Euthanasia\nInter...
7  Bennett's law\nGreen Revolution\nHuman impact ...
8                                 Commons\n Category



Table 21:
                                                   0
0   vteHuman impact on the environmentGeneral\nAnt...  \
1                                                None
2   Anthropocene\nEnvironmental issues\nlist of is...
3   Agriculture\nanimal agriculture\ncannabis cult...
4   Biodiversity threats\nbiodiversity loss\ndecli...
5   Alternative fuel vehicle propulsion\nBirth con...
6   Commons\n  Category\nby country\nassessment\nm...
7                                                None
8   Current population\nUnited Nations\nDemographi...
9   Africa\nAntarctica\nAsia\nEurope\nNorth Americ...
10  Americas\nArab world\nCommonwealth of Nations\...
11  World cities\nNational capitals\nMegacities\nM...
12  Past and future population\nWorld population e...
13  Current density\nPast and future population de...
14  Population growth rate\nNatural increase\nNet ...
15  world\nAfrica\nAsia\nEurope\nNorth America\nOc...
16  Age at childbearing\nAge at first marriage\nAg...
17  Antidepressant consumption\nAntiviral medicati...
18  Bloomberg Innovation Index\nEducation Index\nI...
19  Access to financial services\nDevelopment aid ...
20   List of international rankings\nLists by country
21                                               None
22  Biosphere > Biome > Ecosystem > Biocoenosis > ...
23                                               None
24                        Journals\n Outline\nStudies
25  Alter-globalization\nAnti-globalization\nCultu...
26  Global\nClimate change\nClimate justice\nDisea...
27  Climate change\nClimate justice\nDisease\nCOVI...
28  Brain drain\nreverse\nCare drain\nDevelopment ...
29  Capital accumulation\nDependency\nDevelopment\...
30  Economics\nDavid Autor\nRichard Baldwin\nRavi ...
31  David Autor\nRichard Baldwin\nRavi Batra\nJagd...
32  Samir Amin\nGiovanni Arrighi\nRobert W. Cox\nA...
33  Arjun Appadurai\nDaniele Archibugi\nK. Anthony...
34  Noam Chomsky\nThomas Friedman\nNaomi Klein\nJo...
35                         Category\n Business portal

                                                   1
0   Anthropocene\nEnvironmental issues\nlist of is...  \
1                                                None
2                                                None
3                                                None
4                                                None
5                                                None
6                                                None
7                                                None
8                                                None
9                                                None
10                                               None
11                                               None
12                                               None
13                                               None
14                                               None
15                                               None
16                                               None
17                                               None
18                                               None
19                                               None
20                                               None
21                                               None
22                                               None
23                                               None
24                                               None
25                                               None
26  Climate change\nClimate justice\nDisease\nCOVI...
27                                               None
28                                               None
29                                               None
30  David Autor\nRichard Baldwin\nRavi Batra\nJagd...
31                                               None
32                                               None
33                                               None
34                                               None
35                                               None

                                                   2
0   Agriculture\nanimal agriculture\ncannabis cult...  \
1                                                None
2                                                None
3                                                None
4                                                None
5                                                None
6                                                None
7                                                None
8                                                None
9                                                None
10                                               None
11                                               None
12                                               None
13                                               None
14                                               None
15                                               None
16                                               None
17                                               None
18                                               None
19                                               None
20                                               None
21                                               None
22                                               None
23                                               None
24                                               None
25                                               None
26  Brain drain\nreverse\nCare drain\nDevelopment ...
27                                               None
28                                               None
29                                               None
30  Samir Amin\nGiovanni Arrighi\nRobert W. Cox\nA...
31                                               None
32                                               None
33                                               None
34                                               None
35                                               None

                                                   3
0   Biodiversity threats\nbiodiversity loss\ndecli...  \
1                                                None
2                                                None
3                                                None
4                                                None
5                                                None

In [59]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = 'https://en.wikipedia.org/wiki/World_population'

response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

# Find all the tables on the webpage
tables = soup.find_all('table')

dataframes = []  # List to store all dataframes

# For each table, create a DataFrame and append it to the list
for i, table in enumerate(tables):
    # The [1:] is to skip the header row
    rows = table.find_all('tr')[1:]
    data = []
    for row in rows:
        cols = row.find_all('td')
        cols = [col.text.strip() for col in cols]
        data.append(cols)
    df = pd.DataFrame(data)
    dataframes.append(df)

# Now dataframes[0], dataframes[1], etc. each contain a different table from the page
dataframes[5]

,0,1,2,3,4
0,,Graphs are temporarily unavailable due to tech...,None,None,None
1,1,China[B],"1,270","1,376","1,416"
2,2,India,"1,053","1,311","1,528"
3,3,United States,283,322,356
4,4,Indonesia,212,258,295
5,5,Pakistan,136,208,245
6,6,Brazil,176,206,228
7,7,Nigeria,123,182,263
8,8,Bangladesh,131,161,186
9,9,Russia,146,146,149
10,10,Mexico,103,127,148
11,,World total,"6,127","7,349","8,501"
12,Notes:\n\n\n^ 2030 = Medium variant.\n\n^ Chin...,None,None,None,None